body {
    background-color: black;
}

li {
    color: white;
}

a {
    color: white;
}

h1 {
    color: white;
}

h2 {
    color: white;
}

p {
    color: white;
}

label {
    color: lightgray;
}

.clanfoto {
    display: inline;
    float: right;
    max-width: 45%;
    margin-bottom: 10px;
    margin-left: 10%;
}