body {
    background-color: black;
}

li {
    color: white;
}

a {
    color: white;
}

h1 {
    color: white;
}

h2 {
    color: white;
}

p {
    color: white;
}

label {
    color: lightgray;
}

.clanfoto {
    display: inline;
    float: right;
    max-width: 45%;
    margin-bottom: 10px;
    margin-left: 10%;
}

footer {
    width: 80%;
    margin: auto;
}

footer p {
    display: inline-block;
    margin: 5%;
}

header {
    display: flex;
    height: 75px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

nav a {
    font-weight: 600;
    padding-right: 10px;
}